@media (min-width: 768px) {
    
    // ACCUEIL
    .accueil {
        display: grid;
        grid-template-areas:
        'nav nav'
        'titre content'
        ;

        nav {
            grid-area: nav;
        }

        .item1 {
            grid-area: titre;

            h1 {
                font-size: 60px;
            }

            p {
                font-size: 15px;
                line-height: 18px;
            }
        }

        .item2 {
            display: flex;
            flex-direction: column;
            justify-content: end;
            grid-area: content;
        }
    }

    .choix {

        .contentN {
            grid-template-columns: auto auto;

            .item3 {
                grid-column: 1 / 3;
            }
        }
    }

    .produits {
        display: grid;
        place-items: center;

        .carouselle {
            width: 100%;
            display: grid;
            place-items: center;

            .carousel {
                width: 85%;
            }
        }

        .content {
            width: 85%;
            grid-template-columns: auto auto;
            padding: 20px 100px;
        }

        .voir {
            width: 85%;
            grid-template-columns: auto auto;
            gap: 0;
            padding: 20px 0px;
        }
    }

    .meuble {
        display: grid;
        place-items: center;

        .contentP {
            width: 85%;
            display: flex;
            justify-content: space-evenly;
            align-items: end;

            .video {

                .texte {
                    
                    p {
                        padding: 0 20px;
                    }
                }

                .vid {
                    height: 200px;
                    width: 300px;

                    iframe {
                        height: 200px;
                        width: 300px;
                    }
                }
            }
        }
    }

    // FOOTER
    footer {

        .logo {
            margin-bottom: 30px;
        }

        .contentF {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .item {
                height: 220px;
                width: 50%;

                &:first-child {

                    h5 {
                        margin-top: 0;
                    }
                }

                h5 {
                    margin-top: 0;
                }
            }

            .item1 {
                padding-right: 0;
            }

            .item2 {
                padding-left: 0;
            }

            .item3 {
                width: 100%;
            }
        }
    }

    // NOS PRODUITS
    .all {
        grid-template-columns: auto auto;
    }

    .reseaux {

        .carou {
            width: 80%;
        }

        .confort {
            height: 300px;
            width: 600px;

            .imga {
                height: 300px;
                width: 600px;
            }
        }

        .titra {
            
            p {
                width: 70%;
            }
        }
    }
}