// FONTS
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
    // font-family: 'Poppins', sans-serif;

// COLORS
$black : #2D2D2D;
$blacky : rgba(45, 45, 45, 0.6);
$card : #D9D9D9;
$brown : #654B3F;
$brownie : rgba(101, 75, 63, 0.38);
$brownie2 : rgba(195, 186, 182, 1);
$brune :#D3CCC8;
$white: #EBEBEB;
$whity: rgba(235, 235, 235, 0.35);

// OTHERS